<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar svgIcon="database-export"></mat-icon>
    <mat-card-title>
      About V1 Data Importer
    </mat-card-title>
    <mat-card-subtitle>
      Import your data from FloppyBot V1
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      You want to move into the future, right? This is the place
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Select a file to import
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <input type="file">
    </form>

    <mat-checkbox [(ngModel)]="simulate">
      Simulate Import
    </mat-checkbox>
  </mat-card-content>
  <mat-card-actions class="flex-row">
    <span>{{ status }}</span>
    <span class="spacer"></span>
    <button mat-flat-button [color]="simulate ? 'primary' : 'warn'" (click)="onImport()" [disabled]="isUploading">
      Upload & Import
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar [mode]="progressBarMode" [value]="percentage"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
