<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar svgIcon="database-export"></mat-icon>
    <mat-card-title>
      About Data Exporter
    </mat-card-title>
    <mat-card-subtitle>
      Export your data so you can move to FloppyBot V2.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Select the channels you want to export and click <b>Export</b>.
      You will receive a file that can be uploaded on FloppyBot V2 to
      import all your quotes, custom commands, files and settings.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Select channels to export
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section *ngIf="channels$ | async as channels">
      <mat-checkbox *ngFor="let channel of channels" [value]="channel" (change)="onTickChange($event, channel)">
        <app-channel-icon [channelId]="channel"></app-channel-icon>
        <app-channel-name [channelId]="channel"></app-channel-name>
      </mat-checkbox>
    </section>
  </mat-card-content>
  <mat-card-actions class="flex-row">
    <span class="spacer"></span>
    <button mat-flat-button color="primary" (click)="onExport()">
      Export
    </button>
  </mat-card-actions>
</mat-card>
