<mat-card class="warning-card">
  <mat-card-header>
    <mat-icon mat-card-avatar>warning</mat-icon>
    <mat-card-title>
      <ng-content select="mat-card-title"></ng-content>
    </mat-card-title>
    <mat-card-subtitle class="force-black">
      <ng-content select="mat-card-subtitle"></ng-content>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
