<ng-container *ngIf="user$ | async as user; else loginUser">
  <button *ngIf="showUserName"
          class="title bold"
          mat-button
          [mat-menu-trigger-for]="userMenu">
    <span>{{ user.nickname || user.name }}&nbsp;</span>
    <img *ngIf="!!user.picture; else noProfileImage"
         class="profile-image"
         [src]="user.picture">
  </button>
  <button *ngIf="!showUserName"
          mat-icon-button
          [mat-menu-trigger-for]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu" xPosition="before">
    <a [routerLink]="['profile']" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      About <b>{{ user.nickname || user.name }}</b>
    </a>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Log Out
    </button>
  </mat-menu>
</ng-container>

<ng-template #noProfileImage>
  <mat-icon>account_circle</mat-icon>
</ng-template>

<ng-template #loginUser>
  <button mat-button (click)="login()">
    <span>Login&nbsp;</span>
    <mat-icon>login</mat-icon>
  </button>
</ng-template>
