<h1 mat-dialog-title>
  <mat-icon class="inline">drive_file_rename_outline</mat-icon>
  Rename Counter Command "{{ command.name }}"
</h1>
<div mat-dialog-content>
  <p>
    Please enter a new name for this command:
  </p>
  <mat-form-field>
    <mat-label>New Command Name</mat-label>
    <input matInput [formControl]="form">
    <mat-error>
      A command may only contain lower-case letters and must be unique.
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="null">
    Cancel
  </button>
  <button mat-flat-button color="primary" (click)="commit()" [disabled]="form.invalid">
    Rename
  </button>
</div>
