<h1 mat-dialog-title>How do Privileges work?</h1>
<div mat-dialog-content class="mat-typography">
  <p>
    Upon each command call, FloppyBot will evaluate the users Privilege level.
    This is done because FloppyBot runs on Twitch and Discord, however both
    have different ways of assigning permissions to users.
  </p>
  <p>
    FloppyBot currently knows these levels (sorted from highest to lowest):
  </p>
  <ul class="privilege-list">
    <li>
      <mat-icon class="in-text" svgIcon="shield-crown"></mat-icon>
      <b>Administrator</b>: This user has full control over the bot and its functions.
      They can run any commands and are usually not affected by cooldowns, except
      when stated otherwise.
      On Twitch, the channel owner is considered the Administrator.
      On Discord, users with the guild permission "Administrator" will get this
      privilege level.
    </li>
    <li>
      <mat-icon class="in-text" svgIcon="sword"></mat-icon>
      <b>Moderator</b>: This user can access most functions that an Administrator can.
      On Twitch, channel moderators are also FloppyBot Moderators.
      On Discord, you have to have the "Manage Guild" permission to be considered
      a moderator.
    </li>
    <li>
      <mat-icon class="in-text" svgIcon="account"></mat-icon>
      <b>Viewer</b>: This is a regular user/viewer. They can issue some commands,
      however they will encounter cooldowns and are usually not able to issue commands
      which modify stored data besides their own.
    </li>
    <li>
      <mat-icon class="in-text" svgIcon="account-question"></mat-icon>
      <b>Unknown</b>: This user is even more restricted, however this level is <i>purely
        technical</i> and in real world scenarios is never issued.
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null" cdkFocusInitial>Close</button>
</div>
