<mat-card>
  <mat-card-header>
    <mat-icon matCardAvatar>update</mat-icon>
    <mat-card-title>
      About Patch Notes
    </mat-card-title>
    <mat-card-subtitle>
      Follow the history of FloppyBot by reading all the patch notes.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      FloppyBot (a.k.a. <i>pinsrbot</i>) uses a versioning schema based on the release date.
      This means there are no patch, minor or major releases. The version number simply informs
      in which month an update was released.
    </p>
    <p>
      Legend:
    </p>
    <ul>
      <li><code>(+)</code> Addition</li>
      <li><code>(*)</code> Improvement / Bug Fix</li>
      <li><code>(-)</code> Removal</li>
      <li><code>(&beta;)</code> Change released as Beta</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-accordion>
  <mat-expansion-panel *ngFor="let patchNote of patchNotes$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{ patchNote.version }}</b>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <markdown [data]="patchNote.notes"></markdown>

    <a mat-button [href]="patchNote.link" target="_blank">
      <mat-icon svgIcon="gitlab"></mat-icon>
      Checkout Release on GitLab
    </a>
  </mat-expansion-panel>
</mat-accordion>
