<mat-table *ngIf="commands$ | async as commands" [dataSource]="commands">
  <!-- Enabled -->
  <ng-container matColumnDef="enabled">
    <mat-header-cell *matHeaderCellDef class="command-enabled">Enabled</mat-header-cell>
    <mat-cell *matCellDef="let command" class="command-enabled">
      <mat-icon *ngIf="!command.config || !command.config.disabled" matTooltip="Enabled">check</mat-icon>
      <mat-icon *ngIf="command.config && command.config.disabled" matTooltip="Disabled">highlight_off</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Command Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="command-name">Command Name</mat-header-cell>
    <mat-cell *matCellDef="let command" class="command-name">
      <span [class.obsolete]="command.info.obsolete">{{ command.info.name }}</span>
    </mat-cell>
  </ng-container>

  <!-- Aliases -->
  <ng-container matColumnDef="aliases">
    <mat-header-cell *matHeaderCellDef class="command-name">Aliases</mat-header-cell>
    <mat-cell *matCellDef="let command" class="command-name">
      {{ command.info.aliases | list }}
    </mat-cell>
  </ng-container>

  <!-- Command Description -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="command-description">Description</mat-header-cell>
    <mat-cell *matCellDef="let command" class="command-description">
      {{ command.info.description }}
    </mat-cell>
  </ng-container>

  <!-- Restricted to Interfaces -->
  <ng-container matColumnDef="restrictedToInterfaces">
    <mat-header-cell *matHeaderCellDef class="command-msg-if">Restrictions</mat-header-cell>
    <mat-cell *matCellDef="let command" class="command-msg-if">
      <app-channel-icon *ngFor="let msgIf of command.info.restrictedToInterfaces"
                        [messageInterface]="msgIf">
      </app-channel-icon>
    </mat-cell>
  </ng-container>

  <!-- Privileges -->
  <ng-container matColumnDef="privileges">
    <mat-header-cell *matHeaderCellDef class="command-privileges">Required Privileges</mat-header-cell>
    <mat-cell *matCellDef="let command" class="command-privileges">
      <ng-container *ngIf="command.config && command.config.privilegeLevelOverride; else defaultPrivilegeDisplay">
        <app-permission-icon [privilegeLevel]="command.config.privilegeLevelOverride"
        ></app-permission-icon>
      </ng-container>
      <ng-template #defaultPrivilegeDisplay>
        <app-permission-icon *ngIf="command.info.requiredPrivilegeLevel && command.info.requiredPrivilegeLevel !== 'Unknown'"
                             [privilegeLevel]="command.info.requiredPrivilegeLevel"
        ></app-permission-icon>
      </ng-template>
    </mat-cell>
  </ng-container>

  <!-- Functions -->
  <ng-container matColumnDef="functions">
    <mat-header-cell *matHeaderCellDef class="functions"></mat-header-cell>
    <mat-cell *matCellDef="let command" class="functions">
      <button [disabled]="!hasEditPermission" mat-icon-button matTooltip="Edit" [routerLink]="getEditRoute(command)">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="command.config" [disabled]="!hasEditPermission" mat-icon-button matTooltip="Reset" (click)="deleteConfig(command)">
        <mat-icon>restart_alt</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>
