<mat-icon *ngIf="!!channelId"
          [svgIcon]="channelNameService.getChannelInterfaceIconFromId(channelId)"
></mat-icon>
<mat-icon *ngIf="!!messageInterface"
          [matTooltip]="messageInterface"
          [svgIcon]="channelNameService.getChannelInterfaceIcon(messageInterface)"
></mat-icon>
