<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>toggle_on</mat-icon>
    <mat-card-title>
      About Command Configuration
    </mat-card-title>
    <mat-card-subtitle>
      Configure FloppyBot's provided commands to your liking.
      Don't like a certain command? Disable it!
      Prevent spam? Change the cooldown or override the required permissions.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedChannelIndex" (selectedIndexChange)="onSelectedChannelChanged($event)">
      <mat-tab *ngFor="let channel of channels">
        <ng-template matTabLabel>
          <app-channel-icon [channelId]="channel"></app-channel-icon>
          <app-channel-name [channelId]="channel"></app-channel-name>
        </ng-template>

        <ng-template matTabContent>
          <app-command-config-tab [channelId]="channel" [hasEditPermission]="hasEditPermission" [paginator]="paginator"></app-command-config-tab>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-footer>
    <mat-toolbar class="mat-elevation-z8">
      <mat-toolbar-row>
        <span class="spacer"></span>
        <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-footer>
</mat-card>
