<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>format_quote</mat-icon>
    <mat-card-title>
      About Quotes
    </mat-card-title>
    <mat-card-subtitle>
      Said something worth remembering? Viewers can add quotes and query some random quotes to remind
      you of that time you said something really stupid.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      In this list you can check out all your quotes, edit existing ones or even delete them, if you
      don't want them anymore.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedChannelIndex" (selectedIndexChange)="onSelectedChannelChanged($event)">
      <mat-tab *ngFor="let channel of channels">
        <!-- Tab Label -->
        <ng-template mat-tab-label>
          <app-channel-icon [channelId]="channel"></app-channel-icon>
          <app-channel-name [channelId]="channel"></app-channel-name>
        </ng-template>

        <!-- Tab Content -->
        <ng-template matTabContent>
          <mat-table *ngIf="dataSourceDict[channel] | async as dataSource" [dataSource]="dataSource">
            <!-- Quote ID -->
            <ng-container matColumnDef="quoteId">
              <mat-header-cell *matHeaderCellDef class="col-quote-id"> Quote ID </mat-header-cell>
              <mat-cell *matCellDef="let quote" class="col-quote-id">
                #{{quote.quoteId}}
              </mat-cell>
            </ng-container>

            <!-- Quote Text -->
            <ng-container matColumnDef="quoteText">
              <mat-header-cell *matHeaderCellDef> Text </mat-header-cell>
              <mat-cell *matCellDef="let quote">
                {{quote.quoteText}}
              </mat-cell>
            </ng-container>

            <!-- Created By -->
            <ng-container matColumnDef="createdBy">
              <mat-header-cell *matHeaderCellDef class="col-created-by"> Created by </mat-header-cell>
              <mat-cell *matCellDef="let quote" class="col-created-by">
                {{quote.createdBy}}
              </mat-cell>
            </ng-container>

            <!-- Quote Context -->
            <ng-container matColumnDef="quoteContext">
              <mat-header-cell *matHeaderCellDef class="col-quote-context"> Game </mat-header-cell>
              <mat-cell *matCellDef="let quote" class="col-quote-context">
                {{quote.quoteContext}}
              </mat-cell>
            </ng-container>

            <!-- Created at -->
            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef class="col-quote-date"> Created At </mat-header-cell>
              <mat-cell *matCellDef="let quote" class="col-quote-date">
                {{ quote.createdAt | amDateFormat:'YYYY-MM-DD' }}
              </mat-cell>
            </ng-container>

            <!-- Functions -->
            <ng-container matColumnDef="functions">
              <mat-header-cell *matHeaderCellDef class="col-functions"></mat-header-cell>
              <mat-cell *matCellDef="let quote" class="col-functions">
                <button mat-icon-button [routerLink]="getEditLink(quote)" matTooltip="Edit Quote" matTooltipPosition="after">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteQuote(quote)" matTooltip="Delete Quote" matTooltipPosition="after">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <!-- Template -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <button mat-icon-button matTooltip="Refresh" (click)="loadQuotesForChannel(channelFilter)">
      <mat-icon>refresh</mat-icon>
    </button>

    <span class="spacer"></span>

    <!-- Pager -->
    <mat-paginator [pageSize]="10"
                   showFirstLastButtons>
    </mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>
