.col {
  &-quote-id {
    max-width: 75px;
  }
  &-created-by {
    max-width: 200px;
  }
  &-quote-context {
    max-width: 400px;
  }
  &-quote-date {
    max-width: 80px;
  }
  &-functions {
    max-width: 100px;
  }
}
