<app-warning-card *ngIf="inV2Mode">
  <mat-card-title>Obsolete Feature</mat-card-title>
  <mat-card-subtitle>
    Counter Commands will be unavailable in FloppyBot v2.
  </mat-card-subtitle>

  <div>
    In FloppyBot V2, custom commands will work slightly differently, thus making
    this section obsolete. Additionally, regular text commands ("Custom Commands")
    can already host a counter field, though this counter cannot be changed externally.
    V2 will address these issues.
  </div>
</app-warning-card>
