<mat-card *ngIf="command$ | async as command; else noCommand">
  <!-- Create New -->
  <mat-card-header *ngIf="inCreationMode">
    <mat-icon mat-card-avatar svgIcon="pencil-plus"></mat-icon>
    <mat-card-title>
      Create a new Sound Command
    </mat-card-title>
    <mat-card-subtitle>
      Follow the steps below to setup your very own new sound command.
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Edit -->
  <mat-card-header *ngIf="!inCreationMode">
    <mat-icon mat-card-avatar svgIcon="pencil"></mat-icon>
    <mat-card-title>
      Edit your Sound Command
      <button mat-icon-button *ngIf="command.payloadId" color="warn" matTooltip="Legacy Sound Command" (click)="showLegacyInfo()">
        <mat-icon>warning</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      You're currently editing the command <code class="syntax-code">{{ command.commandName }}</code>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content [formGroup]="form">
    <input type="hidden" readonly formControlName="channelId">

    <mat-form-field>
      <mat-label>Command Name</mat-label>
      <mat-icon matPrefix>priority_high</mat-icon>
      <input matInput type="text" [readonly]="!inCreationMode" formControlName="commandName">
      <mat-hint>
        Choose a new for your command. It may only consist of lower-case letters and must be unique within your channel.
        Do not add <code>!</code> in front of it.
      </mat-hint>
      <mat-error *ngIf="commandNameDuplicate$ | async; else genericCommandNameError">
        The command already exists
      </mat-error>
      <ng-template #genericCommandNameError>
        <mat-error>
          Please enter a valid name for your command. A command may only contain lower-case letters and must be unique.
        </mat-error>
      </ng-template>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Text Response</mat-label>
      <textarea matInput type="text" formControlName="response"></textarea>
      <span *ngIf="responseLength > 375" color="warn" matSuffix>{{ responseLength | number }} / 400</span>
      <mat-hint>
        A response is not required.
        You may use placeholders surrounded by <code>&#123;</code> and <code>&#125;</code>.
        You may use up to 400 characters for your response.
      </mat-hint>
      <mat-error>
        Please enter a response for your command. The response must be within 400 characters. ({{ responseLength | number }} / 400)
      </mat-error>
    </mat-form-field>

    <mat-form-field class="no-block" style="width: 150px;">
      <mat-label>Cooldown</mat-label>
      <mat-icon matPrefix>av_timer</mat-icon>
      <input matInput type="number" formControlName="cooldown">
      <span matSuffix>ms</span>
      <mat-hint>
        0 = No cooldown
      </mat-hint>
      <mat-error>
        Enter 0 for No Cooldown
      </mat-error>
    </mat-form-field>

    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>volume_up</mat-icon>
            Sound File
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div formArrayName="soundFiles">
          <div *ngFor="let file of soundFilesControls.controls; index as i" class="flex-row">
            <app-file-select-input class="spacer" [channelId]="channelId" [mimeFilter]="['audio/']" [formControlName]="i"></app-file-select-input>
            <button mat-icon-button matTooltip="Remove file" (click)="removeSoundFile(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div>
            <button mat-button (click)="addSoundFile()">
              <mat-icon>add</mat-icon>
              Add Sound File
            </button>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>lock</mat-icon>
            Access Control
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="limitedToModsChecked">
              <mat-icon class="inline" svgIcon="sword"></mat-icon>
              Limited to Moderators
              <ng-container *ngIf="whitelistLength > 0">
                and {{ whitelistLength }} user(s) on the whitelist
              </ng-container>
            </span>
            <span *ngIf="!limitedToModsChecked">
              <ng-container *ngIf="whitelistLength === 0">
                <mat-icon class="inline" svgIcon="account"></mat-icon>
                Accessible to everyone
              </ng-container>
              <ng-container *ngIf="whitelistLength > 0">
                <mat-icon class="inline" svgIcon="account-lock"></mat-icon>
                Limited to {{ whitelistLength }} user(s) on the whitelist
              </ng-container>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>
          You can limit access to this command by only allowing moderators or individual users
          to use it.
        </p>
        <p>
          Note that if you limited this command to Moderators only, the Whitelist will still allow
          non-moderators to use it.
        </p>

        <div>
          <mat-slide-toggle formControlName="limitedToMod">
            <mat-icon class="inline" [svgIcon]="limitedToModsChecked ? 'sword' : (whitelistLength > 0 ? 'account-lock' : 'account')"></mat-icon>
            <span *ngIf="limitedToModsChecked">
              Limited to Moderators
              <ng-container *ngIf="whitelistLength > 0">
                and everyone on the whitelist
              </ng-container>
            </span>
            <span *ngIf="!limitedToModsChecked">
              <ng-container *ngIf="whitelistLength === 0">Accessible to everyone</ng-container>
              <ng-container *ngIf="whitelistLength > 0">Accessible to everyone on the whitelist</ng-container>
            </span>
          </mat-slide-toggle>
        </div>

        <div class="whitelist" formArrayName="limitedToUsers">
          <h3>Whitelist ({{ whitelistLength }} user(s))</h3>
          <mat-form-field class="no-margin" *ngFor="let user of limitUserControls.controls; index as i">
            <mat-label>Username</mat-label>
            <mat-icon matPrefix svgIcon="account-check"></mat-icon>
            <input matInput [formControlName]="i">
            <button matSuffix mat-icon-button matTooltip="Delete User from Whitelist" (click)="removeUser(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-hint>
              Twitch usernames don't have to be capitalized. Discord requires User IDs.
            </mat-hint>
            <mat-error>
              You may not leave this field empty.
            </mat-error>
          </mat-form-field>
          <button mat-button (click)="addUser()">
            <mat-icon>add</mat-icon>
            Add User to Whitelist
          </button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>more_horiz</mat-icon>
            More Options
          </mat-panel-title>
          <mat-panel-description>
            Anything else you would like to change?
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-checkbox formControlName="hideFromCommandList">
          Hide from Command List
          <mat-hint>
            If enabled, this command will not show up when a user asks for a list of all available commands.
          </mat-hint>
        </mat-checkbox>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>

  <!-- Save Row -->
  <mat-card-actions class="flex-row">
    <button mat-button [routerLink]="['../']">
      Cancel
    </button>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" (click)="saveCommand(command)">
      Save
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #noCommand>
  <h1>Loading command ...</h1>
</ng-template>
