<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>border_color</mat-icon>
    <mat-card-title>
      About Custom Commands
    </mat-card-title>
    <mat-card-subtitle>
      Custom Commands are commands, that are specific to your channels.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Custom Commands can handle parameters and placeholders. For example,
      you can include the user who issued the command in the reply.
    </p>
  </mat-card-content>
</mat-card>

<mat-accordion *ngIf="channels$ | async as channels">
  <mat-expansion-panel *ngFor="let channel of channels"
                       [expanded]="channelFilter === channel"
                       (closed)="onPanelClosed(channel)"
                       (afterExpand)="onPanelOpened(channel)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-channel-icon [channelId]="channel"></app-channel-icon>
        <app-channel-name [channelId]="channel"></app-channel-name>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-list *ngIf="commandDict[channel] | async as commands; else loadingTemplate">
        <mat-list-item *ngFor="let command of commands">
          <mat-icon mat-list-icon *ngIf="command.limitedToMod" svgIcon="sword" matTooltip="Limited to Moderators"></mat-icon>
          <mat-icon mat-list-icon *ngIf="!command.limitedToMod && command.limitedToUsers.length == 0" svgIcon="exclamation-thick"></mat-icon>
          <mat-icon mat-list-icon *ngIf="!command.limitedToMod && command.limitedToUsers.length > 0" [matTooltip]="'Limited to ' + command.limitedToUsers.length + ' user(s)'" svgIcon="account-lock-outline"></mat-icon>
          <div mat-line class="syntax-code">
            <b>{{ command.command }}</b>
            <button mat-icon-button class="right" matTooltip="Rename Command" (click)="renameCommand(command)">
              <mat-icon>drive_file_rename_outline</mat-icon>
            </button>
          </div>
          <div mat-line *ngIf="!command.responseVariants || command.responseVariants.length === 0">
            {{ command.response }}
          </div>
          <div mat-line *ngIf="!!command.responseVariants">
            "{{ command.responseVariants[0] }}"
            <i *ngIf="command.responseVariants.length > 1">and {{ command.responseVariants.length - 1 }} more variant(s)</i>
          </div>
          <div mat-line>
            <span *ngIf="command.timeout > 0">
              <b>Cooldown</b>: {{ command.timeout / 1000 | number:'0.0-1' }}s
            </span>
          </div>
          <button mat-icon-button class="right" [matTooltip]="'Edit Command ' + command.command" [routerLink]="getEditLink(command)">
            <mat-icon mat-list-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="right" [matTooltip]="'Delete Command ' + command.command" (click)="deleteCommand(command)">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="commands.length === 0">
          <mat-icon mat-list-icon>sentiment_dissatisfied</mat-icon>
          <div mat-line>
            No commands found
          </div>
        </mat-list-item>
        <mat-list-item>
          <button mat-button (click)="createCommand()">
            <mat-icon>add</mat-icon>
            Add Command
          </button>
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <button mat-icon-button
            matTooltip="Refresh All"
            (click)="loadChannels()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #loadingTemplate>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
