<mat-card *ngIf="command$ | async as command; else noCommand">
  <!-- Create New -->
  <mat-card-header *ngIf="inCreationMode">
    <mat-icon mat-card-avatar svgIcon="pencil-plus"></mat-icon>
    <mat-card-title>
      Create a new Custom Command
    </mat-card-title>
    <mat-card-subtitle>
      Follow the steps below to setup your very own new custom command.
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Edit -->
  <mat-card-header *ngIf="!inCreationMode">
    <mat-icon mat-card-avatar svgIcon="pencil"></mat-icon>
    <mat-card-title>
      Edit your Custom Command
    </mat-card-title>
    <mat-card-subtitle>
      You're currently editing the command <code class="syntax-code">{{ command.command }}</code>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content [formGroup]="form">
    <div>
      <p>
        You can introduce placeholders into your message using <code>&#123;</code> and <code>&#125;</code>.
      </p>
    </div>

    <input type="hidden" readonly formControlName="channel">

    <mat-form-field>
      <mat-label>Command Name</mat-label>
      <mat-icon matPrefix>priority_high</mat-icon>
      <input matInput type="text" [readonly]="!inCreationMode" formControlName="command">
      <mat-hint>
        Choose a new for your command. It may only consist of lower-case letters and must be unique within your channel.
        Do not add <code>!</code> in front of it.
      </mat-hint>
      <mat-error *ngIf="commandNameDuplicate$ | async; else genericCommandNameError">
        The command already exists
      </mat-error>
      <ng-template #genericCommandNameError>
        <mat-error>
          Please enter a valid name for your command. A command may only contain lower-case letters and must be unique.
        </mat-error>
      </ng-template>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Response</mat-label>
      <textarea matInput type="text" formControlName="response">
      </textarea>
      <span *ngIf="responseLength > 375" color="warn" matSuffix>{{ responseLength | number }} / 400</span>
      <mat-hint *ngIf="responseVariants.length === 0">
        Enter a response for your command. You may use placeholders surrounded by <code>&#123;</code> and <code>&#125;</code>.
        You may use up to 400 characters for your response.
      </mat-hint>
      <mat-hint *ngIf="responseVariants.length > 0">
        If you use variants, this message is not used.
      </mat-hint>
      <mat-error>
        Please enter a response for your command. The response must be within 400 characters. ({{ responseLength | number }} / 400)
      </mat-error>
    </mat-form-field>

    <mat-expansion-panel formArrayName="responseVariants">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="clipboard-list-outline"></mat-icon>
          {{ responseVariants.controls.length }} Variant(s)
        </mat-panel-title>
        <mat-panel-description>
          Add different responses which can be picked from randomly
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field *ngFor="let variant of responseVariants.controls; index as i">
        <mat-label>Variant Response</mat-label>
        <input matInput [formControlName]="i">
        <button matSuffix mat-icon-button matTooltip="Delete Variant" (click)="removeVariant(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-hint>
          You may use any placeholders supported by the regular message as well.
        </mat-hint>
        <mat-error>
          Please enter a response for your command. The response must be within 400 characters.
        </mat-error>
      </mat-form-field>

      <button mat-button (click)="addVariant()">
        <mat-icon>add</mat-icon>
        Add Variant
      </button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>help</mat-icon>
          About Placeholders
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        The following placeholders are available:
      </p>
      <ul>
        <li><code class="syntax-code">&#123;Caller&#125;</code>: The name of the user who called the command</li>
        <li>
          <code class="syntax-code">&#123;Params.X&#125;</code>:
          If provided, the parameter at position <code class="syntax-code">X</code>.
          The first parameter is located at <code class="syntax-code">0</code> (i.e. <code class="syntax-code">&#123;Params.0&#125;</code>).
        </li>
        <li>
          <code class="syntax-code">&#123;AllParam&#125;</code> / <code class="syntax-code">&#123;AllParams&#125;</code>:
          Lists all parameters provided to the command joined by a space.
        </li>
        <li>
          <code class="syntax-code">&#123;Now&#125;</code>:
          Returns the current date and time (in UTC)
        </li>
        <li>
          <code class="syntax-code">&#123;Random&#125;</code>:
          Returns a random number between 0 and 99
        </li>
        <li>
          <code class="syntax-code">&#123;Counter&#125;</code>:
          Returns a number that increases with every call
        </li>
      </ul>
    </mat-expansion-panel>

    <mat-form-field class="no-block" style="width: 150px;">
      <mat-label>Cooldown</mat-label>
      <mat-icon matPrefix>av_timer</mat-icon>
      <input matInput type="number" formControlName="timeout">
      <span matSuffix>ms</span>
      <mat-hint>
        0 = No cooldown
      </mat-hint>
      <mat-error>
        Enter 0 for No Cooldown
      </mat-error>
    </mat-form-field>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>lock</mat-icon>
          Access Control
        </mat-panel-title>
        <mat-panel-description>
          <span *ngIf="limitedToModsChecked">
            <mat-icon class="inline" svgIcon="sword"></mat-icon>
            Limited to Moderators
            <ng-container *ngIf="whitelistLength > 0">
              and {{ whitelistLength }} user(s) on the whitelist
            </ng-container>
          </span>
          <span *ngIf="!limitedToModsChecked">
            <ng-container *ngIf="whitelistLength === 0">
              <mat-icon class="inline" svgIcon="account"></mat-icon>
              Accessible to everyone
            </ng-container>
            <ng-container *ngIf="whitelistLength > 0">
              <mat-icon class="inline" svgIcon="account-lock"></mat-icon>
              Limited to {{ whitelistLength }} user(s) on the whitelist
            </ng-container>
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        You can limit access to this command by only allowing moderators or individual users
        to use it.
      </p>
      <p>
        Note that if you limited this command to Moderators only, the Whitelist will still allow
        non-moderators to use it.
      </p>

      <div>
        <mat-slide-toggle formControlName="limitedToMod">
          <mat-icon class="inline" [svgIcon]="limitedToModsChecked ? 'sword' : (whitelistLength > 0 ? 'account-lock' : 'account')"></mat-icon>
          <span *ngIf="limitedToModsChecked">
            Limited to Moderators
            <ng-container *ngIf="whitelistLength > 0">
              and everyone on the whitelist
            </ng-container>
          </span>
          <span *ngIf="!limitedToModsChecked">
            <ng-container *ngIf="whitelistLength === 0">Accessible to everyone</ng-container>
            <ng-container *ngIf="whitelistLength > 0">Accessible to everyone on the whitelist</ng-container>
          </span>
        </mat-slide-toggle>
      </div>

      <div class="whitelist" formArrayName="limitedToUsers">
        <h3>Whitelist ({{ whitelistLength }} user(s))</h3>
        <mat-form-field class="no-margin" *ngFor="let user of limitUserControls.controls; index as i">
          <mat-label>Username</mat-label>
          <mat-icon matPrefix svgIcon="account-check"></mat-icon>
          <input matInput [formControlName]="i">
          <button matSuffix mat-icon-button matTooltip="Delete User from Whitelist" (click)="removeUser(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-hint>
            Twitch usernames don't have to be capitalized. Discord requires User IDs.
          </mat-hint>
          <mat-error>
            You may not leave this field empty.
          </mat-error>
        </mat-form-field>
        <button mat-button (click)="addUser()">
          <mat-icon>add</mat-icon>
          Add User to Whitelist
        </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="commandCounterValue$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="counter"></mat-icon>
          <code class="syntax-code">&#123;Counter&#125;</code>
        </mat-panel-title>
        <mat-panel-description>
          Check the current value rendered by the Counter placeholder
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <p>
          Note that the counter can be changed independent of your other command settings.
        </p>
        <mat-form-field class="no-block">
          <mat-label>Current Value</mat-label>
          <mat-icon matPrefix svgIcon="counter"></mat-icon>
          <input #counterInput
                 matInput
                 type="number"
                 [value]="commandCounterValue$ | async">
        </mat-form-field>
        <button mat-button (click)="updateCounter(counterInput.valueAsNumber)">
          <mat-icon>save</mat-icon>
          Update
        </button>
        <button mat-button color="warn" (click)="clearCounter()">
          <mat-icon>clear</mat-icon>
          Clear
        </button>
      </ng-template>
    </mat-expansion-panel>
  </mat-card-content>

  <!-- Save Row -->
  <mat-card-actions class="flex-row">
    <button mat-button [routerLink]="['../']">
      Cancel
    </button>
    <span class="spacer"></span>
    <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="saveCommand(command)">
      Save
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #noCommand>
  <h1>Loading command ...</h1>
</ng-template>
