@use '@angular/material' as mat;
@include mat.core();

$pinsrbot-admin-console-primary: mat.define-palette(mat.$indigo-palette);
$pinsrbot-admin-console-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$pinsrbot-admin-console-warn: mat.define-palette(mat.$red-palette);

$pinsrbot-admin-console-theme: mat.define-light-theme((
  color: (
    primary: $pinsrbot-admin-console-primary,
    accent: $pinsrbot-admin-console-accent,
    warn: $pinsrbot-admin-console-warn,
  )
));
$pinsrbot-admin-console-theme-dark: mat.define-dark-theme((
  color: (
    primary: $pinsrbot-admin-console-primary,
    accent: $pinsrbot-admin-console-accent,
    warn: $pinsrbot-admin-console-warn,
  )
));

@include mat.all-component-themes($pinsrbot-admin-console-theme);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($pinsrbot-admin-console-theme-dark);
  @import './dark-overrides';
}
.dark-mode {
  @include mat.all-component-colors($pinsrbot-admin-console-theme-dark);
  @import './dark-overrides';
}
