mat-form-field:not(.no-block) {
  display: block;
}

mat-slide-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type=number] {
  text-align: right;
}

th {
  text-align: right;
}

.error {
  display: block;
  color: red;
  font-size: small;
  font-style: italic;
}
