mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

mat-icon.in-text {
  width: 16px;
  height: 16px;
  font-size: 16px;
}

ul.privilege-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
