.flex-row {
  display: flex !important;
  flex-flow: row;
  &.right {
    justify-content: flex-end;
  }
}

mat-icon.inline {
  vertical-align: bottom;

  .mat-dialog-title & {
    margin-bottom: 5px;
  }
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}
