@import './fonts';

// Default Colors
$color-code: green;

// Dark Theme Colors
$color-code-dark: greenyellow;

// ===
.title,
mat-card-title,
.mat-dialog-title {
  font-family: $font-heading !important;
  &.bold {
    font-weight: bold;
  }
}
.subtitle {
  font-family: $font-subheading;
}

.text-block {
  margin: 5px;
}

.syntax-code {
  font-family: monospace;
  color: $color-code;

  @media (prefers-color-scheme: dark) {
    color: $color-code-dark;
  }
}

.beta {
  font-weight: normal;
  font-style: italic;
  font-size: x-large;
  color: blueviolet;
}
.beta-text {
  font-style: italic;
  color: orangered;
}

// Obsolete
span.obsolete {
  text-decoration: line-through;
}
a.obsolete {
  opacity: 0.5;
}
