<h1 mat-dialog-title>
  <mat-icon>upload</mat-icon>
  Upload File
</h1>
<div mat-dialog-content>
  <p>
    Select a file to upload
  </p>
  <form>
    <input type="file">
  </form>

  <div *ngIf="isUploading">
    <span>{{ status }}</span>
    <mat-progress-bar [value]="percentage"
                      [mode]="'buffer'"
    ></mat-progress-bar>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button
          [disabled]="isUploading"
          [mat-dialog-close]="null">
    Cancel
  </button>
  <button mat-flat-button
          [disabled]="isUploading || !hasFiles"
          color="primary"
          (click)="runUpload()">
    Upload
  </button>
</div>
