@import 'src/styles/typo';

.syntax-title {
  padding-top: 5px;
  font-weight: bold;
}
.syntax-help {
  //border-top: 1px solid black;
  padding-left: 5px;
}
.syntax-purpose,
.syntax-example {
  padding-left: 20px;
}

.command-obsolete {
  text-decoration: line-through;
}
.command-obsolete-warning {
  border: 1px solid orangered;
  color: orangered;
  font-weight: bold;
  padding: 5px;
}
