<ng-container *ngIf="commands$ !== null">
  <mat-accordion class="command-list">
    <mat-expansion-panel *ngFor="let command of (commands$ | async)">
      <mat-expansion-panel-header>
        <mat-panel-title [class.command-obsolete]="command.obsolete">
          <code>&gt; <b>{{ command.name }}</b></code>
        </mat-panel-title>
        <mat-panel-description [class.command-obsolete]="command.obsolete">
          <!-- Privilege -->
          <mat-icon *ngIf="command.requiredPrivilegeLevel !== 'Unknown' && command.requiredPrivilegeLevel !== 'Viewer'"
                    [svgIcon]="getPrivilegeLevelIcon(command.requiredPrivilegeLevel)"
                    [matTooltip]="command.requiredPrivilegeLevel"></mat-icon>

          <!-- Message Interfaces -->
          <mat-icon *ngIf="limitedToInterface(command, 'Discord')" matTooltip="Limited to Discord" svgIcon="discord"></mat-icon>
          <mat-icon *ngIf="limitedToInterface(command, 'Twitch')" matTooltip="Limited to Twitch" svgIcon="twitch"></mat-icon>

          <span class="subtitle">{{ command.description }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p *ngIf="command.obsolete" class="command-obsolete-warning">
        &#9888;&#65039;
        This command is obsolete and will be removed in future releases.
      </p>

      <p *ngIf="command.aliases.length > 0">
        <b>Aliases:</b>&nbsp;
        <code>{{ getList(command.aliases) }}</code>
      </p>

      <p *ngIf="command.requiredPrivilegeLevel !== 'Unknown'">
        <b>Required Privilege Level:</b>
        <button mat-button
                (click)="openPrivilegeDialog()"
                matTooltip="How do Privileges work?">
          <mat-icon [svgIcon]="getPrivilegeLevelIcon(command.requiredPrivilegeLevel)"
                    [matTooltip]="command.requiredPrivilegeLevel"></mat-icon>
          {{ command.requiredPrivilegeLevel }}
        </button>
      </p>

      <p *ngIf="command.restrictedToInterfaces && command.restrictedToInterfaces.length > 0">
        <b>Limited to Platforms:</b>
        {{ getList(command.restrictedToInterfaces) }}
      </p>

      <p *ngIf="command.description">
        {{ command.description }}
      </p>

      <ng-container *ngIf="command.syntax && command.syntax.length > 0">
        <h3>
          Syntax
          <button mat-icon-button (click)="openSyntaxDialog()" matTooltip="How to read Syntax?">
            <mat-icon>help</mat-icon>
          </button>
        </h3>
        <div *ngFor="let syntax of command.syntax" class="syntax-help">
          <code class="syntax-code">&gt; <b>{{ command.name }}</b> {{ syntax.syntax }}</code><br>
          <span class="syntax-purpose">{{ syntax.purpose }}</span>

          <ng-container *ngIf="syntax.examples && syntax.examples.length > 0">
            <div class="syntax-example" *ngFor="let example of syntax.examples">
              <code>&gt; <b>{{ command.name }}</b> {{ example }}</code>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="!!command.cooldown && command.cooldown.defaultCooldown > 0">
        <h3>Cooldown</h3>
        <div>
          <b>Mode:</b>
          {{ command.cooldown.cooldownMode }}
        </div>
        <div>
          <b>Default</b>:
          <span>{{ (command.cooldown.defaultCooldown / 1000) | number:'0.0-1' }}s</span>
        </div>
        <div *ngIf="command.cooldown.modCooldown !== null && command.cooldown.modCooldown !== undefined">
          <b>Moderator:</b>
          {{ (command.cooldown.modCooldown / 1000) | number:'0.0-1' }}s
        </div>
        <div *ngIf="command.cooldown.adminCooldown !== null && command.cooldown.adminCooldown !== undefined">
          <b>Administrator:</b>
          {{ (command.cooldown.adminCooldown / 1000) | number:'0.0-1' }}s
        </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
