<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>campaign</mat-icon>
    <mat-card-title>
      About Shoutouts
    </mat-card-title>
    <mat-card-subtitle>
      Shoutout other creators in chat by running <code>!so &lt;Channel Name&gt;</code>.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Responses can have the following placeholders:
    </p>
    <ul>
      <li>
        <code>&#123;User&#125;</code>:
        The name of the Twitch user that has been requested
      </li>
      <li>
        <code>&#123;UserLink&#125;</code>:
        The link to the Twitch channel in question
      </li>
      <li>
        <code>&#123;LastGame&#125;</code>:
        The last game the Twitch user has broadcasted
      </li>
    </ul>
    <p>
      Note that this feature is only supported in Twitch chats at this time.
    </p>
  </mat-card-content>
</mat-card>

<mat-accordion *ngIf="config$ | async as configs; else noConfigs">
  <mat-expansion-panel *ngFor="let config of configs; trackBy:trackConfig"
                       [expanded]="expandedChannelId === config.id"
                       (afterExpand)="expandedChannelId = config.id">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-channel-icon [channelId]="config.id"></app-channel-icon>
        <app-channel-name [channelId]="config.id"></app-channel-name>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <mat-form-field>
        <mat-label>Shoutout Message</mat-label>
        <input matInput type="text" [(ngModel)]="config.message">

        <button matSuffix mat-icon-button matTooltip="Clear Message" (click)="clearMessage(config)">
          <mat-icon>clear</mat-icon>
        </button>
        <button matSuffix mat-icon-button matTooltip="Save" (click)="saveConfig(config)">
          <mat-icon>save</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
      <button mat-icon-button
              matTooltip="Discard & Refresh All"
              (click)="load()">
        <mat-icon>refresh</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-button (click)="saveAllChanges(configs)">
        <mat-icon>save</mat-icon>
        Save All Changes
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-accordion>

<ng-template #noConfigs>
  <mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
      <button mat-icon-button
              matTooltip="Refresh All"
              (click)="load()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>
