<h1 mat-dialog-title>
  <ng-container *ngIf="hasIcon">
    <mat-icon *ngIf="hasSvgIcon" class="inline" [svgIcon]="icon"></mat-icon>
    <mat-icon *ngIf="!hasSvgIcon" class="inline">{{ icon }}</mat-icon>
  </ng-container>
  {{ title }}
</h1>
<div mat-dialog-content *ngIf="hasMessage">
  <p class="message">{{ message }}</p>
</div>
<div mat-dialog-actions>
  <ng-container *ngIf="hasYesNoButtons">
    <button mat-flat-button [mat-dialog-close]="false">
      No
    </button>
    <button mat-flat-button [color]="color" [mat-dialog-close]="true">
      Yes
    </button>
  </ng-container>
  <ng-container *ngIf="hasOkButton">
    <button mat-flat-button [color]="color" mat-dialog-close>
      OK
    </button>
  </ng-container>
</div>
