<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>volume_up</mat-icon>
    <mat-card-title>
      Sound Board
      (<app-channel-icon *ngIf="channelId" [channelId]="channelId"></app-channel-icon>
      <app-channel-name *ngIf="channelId" [channelId]="channelId"></app-channel-name>)
    </mat-card-title>
    <mat-card-subtitle>
      Keep this page open during stream to have your sound commands played.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div>
      <button *ngFor="let command of commands$ | async"
              mat-button
              [disabled]="!(!!command.payloadId || !!command.soundFiles)"
              (click)="playCommand(command)">
        <mat-icon svgIcon="play"></mat-icon>
        {{ command.commandName }}
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <button mat-icon-button matTooltip="Back" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button mat-icon-button disabled>
      <mat-icon svgIcon="dots-vertical"></mat-icon>
    </button>

    <button mat-icon-button
            [matTooltip]="muted ? 'Unmute' : 'Mute'"
            (click)="muted = !muted">
      <mat-icon>{{ muted ? 'volume_off' : 'volume_up' }}</mat-icon>
    </button>
    <mat-slider thumbLabel
                min="0" max="1" step="0.01"
                [(ngModel)]="volume"
                [displayWith]="formatVolume">
    </mat-slider>

    <button mat-icon-button matTooltip="Stop" (click)="stopSound()">
      <mat-icon>stop</mat-icon>
    </button>

    <button mat-icon-button disabled>
      <mat-icon svgIcon="dots-vertical"></mat-icon>
    </button>

    <button mat-button disabled>
      {{ status }}
    </button>

    <span class="spacer"></span>

    <button mat-icon-button disabled>
      <mat-icon svgIcon="dots-vertical"></mat-icon>
    </button>

    <button mat-icon-button
            [matTooltip]="hubConnectionState"
            (click)="reconnectClicked()">
      <mat-icon class="connection-state"
                [class.anim-connected]="hubConnectionState === 'Connected'"
                [class.anim-connecting]="isConnecting"
                [svgIcon]="connectionStateIcon"></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<audio [src]="audioSource" [volume]="volume" [muted]="muted" autoplay #audio></audio>
