button.sound-command {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.connection-state {
  &.anim {
    &-connected {
      animation-name: connection-state-connected;
      animation-play-state: running;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    &-connecting {
      animation-name: connection-state-connecting;
      animation-play-state: running;
      animation-duration: 500ms;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

@keyframes connection-state-connected {
  from {
    color: rgba($color: green, $alpha: 1.0);
  }
  to {
    color: rgba($color: green, $alpha: 0.5);
  }
}

@keyframes connection-state-connecting {
  from {
    color: rgba($color: red, $alpha: 1.0);
  }
  to {
    color: rgba($color: red, $alpha: 0.25);
  }
}
