<app-counter-obsolete></app-counter-obsolete>

<mat-card *ngIf="command$ | async as command; else noCommand">
  <!-- Create New -->
  <mat-card-header *ngIf="inCreationMode">
    <mat-icon mat-card-avatar svgIcon="counter"></mat-icon>
    <mat-card-title>
      Create a new Counter Command
    </mat-card-title>
    <mat-card-subtitle>
      Follow the steps below to setup your very own new counter command.
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Edit -->
  <mat-card-header *ngIf="!inCreationMode">
    <mat-icon mat-card-avatar svgIcon="counter"></mat-icon>
    <mat-card-title>
      Edit your Counter Command
    </mat-card-title>
    <mat-card-subtitle>
      You're currently editing the command <code class="syntax-code">{{ command.name }}</code>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content [formGroup]="form">
    <div>
      <p>
        You can add <code>&#123;Value&#125;</code> to your response
        to display the current counter value.
      </p>
    </div>

    <input type="hidden" readonly formControlName="channelId">

    <mat-form-field>
      <mat-label>Command Name</mat-label>
      <mat-icon matPrefix>priority_high</mat-icon>
      <input matInput type="text" [readonly]="!inCreationMode" formControlName="name">
      <mat-hint>
        Choose a new for your command. It may only consist of lower-case letters and must be unique within your channel.
        Do not add <code>!</code> in front of it.
      </mat-hint>
      <mat-error *ngIf="commandNameDuplicate$ | async; else genericCommandNameError">
        The command already exists
      </mat-error>
      <ng-template #genericCommandNameError>
        <mat-error>
          Please enter a valid name for your command. A command may only contain lower-case letters and must be unique.
        </mat-error>
      </ng-template>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Response</mat-label>
      <textarea matInput type="text" formControlName="response">
      </textarea>
      <span *ngIf="responseLength > 180" color="warn" matSuffix>{{ responseLength | number }} / 400</span>
      <mat-hint>
        Enter a response for your command. You may use placeholders surrounded by <code>&#123;</code> and
        <code>&#125;</code>.
        You may use up to 400 characters for your response.
      </mat-hint>
      <mat-error>
        Please enter a response for your command. The response must be within 400 characters. ({{ responseLength |
        number }} / 400)
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="!inCreationMode; else noCounterValue" class="no-block">
      <mat-label>Current Value</mat-label>
      <mat-icon matPrefix svgIcon="counter"></mat-icon>
      <input matInput type="number" formControlName="state">
    </mat-form-field>

    <ng-template #noCounterValue>
      <input type="hidden" formControlName="state">
    </ng-template>
  </mat-card-content>

  <!-- Save Row -->
  <mat-card-actions class="flex-row">
    <button mat-button [routerLink]="['../']">
      Cancel
    </button>
    <span class="spacer"></span>
    <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="saveCommand(command)">
      Save
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #noCommand>
  <h1>Loading command ...</h1>
</ng-template>
