<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>volume_up</mat-icon>
    <mat-card-title>
      About Sound Commands
    </mat-card-title>
    <mat-card-subtitle>
      Sound Commands are custom commands that play sounds during streams.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Most features available in
      <a routerLink="/custom-commands">Custom Commands</a>
      are supported here as well.
    </p>
  </mat-card-content>
</mat-card>

<audio [src]="previewAudioSource" [volume]="previewVolume / 100" [muted]="previewMuted" autoplay></audio>

<mat-accordion *ngIf="channels$ | async as channels">
  <mat-expansion-panel *ngFor="let channel of channels"
                       [expanded]="channelFilter === channel"
                       (closed)="onPanelClosed(channel)"
                       (afterExpand)="onPanelOpened(channel)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-channel-icon [channelId]="channel"></app-channel-icon>
        <app-channel-name [channelId]="channel"></app-channel-name>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-list *ngIf="commandDict[channel] | async as commands; else loadingTemplate">
        <mat-list-item *ngFor="let command of commands">
          <mat-icon mat-list-icon *ngIf="command.limitedToMod" svgIcon="sword" matTooltip="Limited to Moderators"></mat-icon>
          <mat-icon mat-list-icon *ngIf="!command.limitedToMod && command.limitedToUsers.length == 0" svgIcon="exclamation-thick"></mat-icon>
          <mat-icon mat-list-icon *ngIf="!command.limitedToMod && command.limitedToUsers.length > 0" [matTooltip]="'Limited to ' + command.limitedToUsers.length + ' user(s)'" svgIcon="account-lock-outline"></mat-icon>

          <div mat-line class="syntax-code">
            {{ command.commandName }}
            <button mat-icon-button class="right" matTooltip="Rename Command" (click)="renameCommand(command)">
              <mat-icon>drive_file_rename_outline</mat-icon>
            </button>
          </div>
          <div mat-line *ngIf="command.response">
            {{ command.response }}
          </div>
          <div mat-line *ngIf="!command.response">
            <i>No response</i>
          </div>
          <div mat-line *ngIf="command.soundFiles">
            {{ command.soundFiles.length }} sound file(s)
          </div>
          <div mat-line *ngIf="command.cooldown > 0">
            <b>Cooldown</b>: {{ command.cooldown / 1000 | number:'0.0-1' }}s
          </div>
          <div mat-line *ngIf="command.payloadId">
            <i>Legacy Command</i>
          </div>

          <!--
          <button mat-icon-button *ngIf="command.payloadId" class="right" [matTooltip]="'Preview ' + command.commandName" (click)="playSoundPreview(command)">
            <mat-icon mat-list-icon svgIcon="play"></mat-icon>
          </button>
          <!--
          <button mat-icon-button class="right" [matTooltip]="'Upload Sound File for ' + command.commandName" [routerLink]="getUploadLink(command)">
            <mat-icon mat-list-icon>upload</mat-icon>
          </button>
          -->
          <button mat-icon-button *ngIf="command.payloadId" class="right" [matTooltip]="'Download Legacy Sound File for ' + command.commandName" (click)="downloadLegacySoundFile(command)">
            <mat-icon mat-list-icon>download</mat-icon>
          </button>
          <button mat-icon-button class="right" [matTooltip]="'Edit ' + command.commandName" [routerLink]="getEditLink(command)">
            <mat-icon mat-list-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="right" [matTooltip]="'Delete ' + command.commandName" (click)="deleteCommand(command)">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="commands.length === 0">
          <mat-icon mat-list-icon>sentiment_dissatisfied</mat-icon>
          <div mat-line>
            No commands found
          </div>
        </mat-list-item>
        <mat-list-item>
          <button mat-button (click)="createCommand()">
            <mat-icon>add</mat-icon>
            Add Command
          </button>
          <button mat-button [routerLink]="getSoundBoardLink()">
            <mat-icon svgIcon="monitor-dashboard"></mat-icon>
            Open Soundboard
          </button>
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <button mat-icon-button
            matTooltip="Refresh All"
            (click)="loadChannels()">
      <mat-icon>refresh</mat-icon>
    </button>

    <!--
    <button mat-icon-button disabled>
      <mat-icon svgIcon="dots-vertical"></mat-icon>
    </button>

    <button mat-icon-button
            [matTooltip]="previewMuted ? 'Unmute' : 'Mute'"
            (click)="previewMuted = !previewMuted">
      <mat-icon>{{ previewMuted ? 'volume_off' : 'volume_up' }}</mat-icon>
    </button>
    <mat-slider thumbLabel [displayWith]="formatVolumeLabel" step="1" min="0" max="100" [(ngModel)]="previewVolume"></mat-slider>
    -->
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #loadingTemplate>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
