@import 'src/styles/fonts';

mat-sidenav {
  width: 250px;
}
mat-toolbar.main {
  position: sticky;
  top: 0;
  z-index: 100;
}

mat-nav-list a {
  font-family: $font-heading;
  font-weight: bold;
}

.app-name, .page-title {
  font-family: $font-heading;
  font-weight: bold;
}
.app-subname {
  font-family: $font-subheading;
  margin-left: 5px;
}

.page-icon {
  margin-right: 5px;
}
