<mat-sidenav-container fullscreen>
  <!-- Nav List -->
  <mat-sidenav #drawer mode="side" opened [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">
      <mat-icon>admin_panel_settings</mat-icon>
      <span class="app-name">FloppyBot</span>
      <small class="app-subname">Admin Console</small>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <ng-container *ngIf="isLoggedIn">
        <ng-container *ngIf="inV2Mode">
          <a mat-list-item href="https://beta.v2-bot.floppypanda.ch" target="_blank">
            <mat-icon>update</mat-icon>
            Try V2 Beta
          </a>
        </ng-container>
        <ng-container *ngIf="canShowBotHealth && inV2Mode">
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/data-export" *ngIf="features.dataExport">
            <mat-icon svgIcon="database-export"></mat-icon>
            <i>Data Exporter</i>
          </a>
          <a mat-list-item routerLink="/data-import" *ngIf="features.dataImport">
            <mat-icon svgIcon="database-import"></mat-icon>
            <i>Data Import</i>
          </a>
        </ng-container>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/command-list">
          <mat-icon>priority_high</mat-icon>
          Commands
        </a>
        <a *ngIf="canShowConfig" mat-list-item routerLink="/command-config">
          <mat-icon>toggle_on</mat-icon>
          Command Config
        </a>
        <!--
        <a *ngIf="canShowConfig" mat-list-item routerLink="/sub-alerts">
          <mat-icon>notifications_none</mat-icon>
          Sub Alerts
        </a>
        -->

        <a *ngIf="canShowCustomCommands" mat-list-item routerLink="/so-config">
          <mat-icon>campaign</mat-icon>
          Shoutout
        </a>
        <a *ngIf="canShowCustomCommands" mat-list-item routerLink="/timer-config">
          <mat-icon>av_timer</mat-icon>
          Timer
        </a>
        <a *ngIf="canShowCustomCommands" mat-list-item routerLink="/custom-commands">
          <mat-icon>border_color</mat-icon>
          Custom Commands
        </a>
        <!--
        <a *ngIf="canShowCustomCommands" mat-list-item [class.obsolete]="inV2Mode" routerLink="/counter-commands">
          <mat-icon svgIcon="counter"></mat-icon>
          <span [class.obsolete]="inV2Mode">Counter Commands</span>
        </a>
        -->
        <a *ngIf="canShowCustomCommands" mat-list-item routerLink="/sound-commands">
          <mat-icon>volume_up</mat-icon>
          Sound Commands
        </a>
        <a *ngIf="canShowQuotes" mat-list-item routerLink="/quotes">
          <mat-icon>format_quote</mat-icon>
          Quotes
        </a>
        <mat-divider></mat-divider>
        <a *ngIf="canShowCustomCommands" mat-list-item routerLink="/file-explorer">
          <mat-icon>folder_open</mat-icon>
          Files
        </a>
        <mat-divider></mat-divider>
        <a *ngIf="canShowBotHealth" mat-list-item routerLink="/bot-health">
          <mat-icon>health_and_safety</mat-icon>
          Bot Health
        </a>
        <mat-divider></mat-divider>
      </ng-container>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/patch-notes">
        <mat-icon>update</mat-icon>
        Patch Notes
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Container -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main">
      <ng-container *ngIf="(isHandset | async)!.matches">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>

      <mat-icon *ngIf="icon && !isSvgIcon" class="page-icon">{{ icon }}</mat-icon>
      <mat-icon *ngIf="isSvgIcon" [svgIcon]="svgIcon" class="page-icon"></mat-icon>
      <span class="page-title">{{ title }}</span>

      <span class="spacer"></span>

      <app-user-menu [showUserName]="!(isHandset | async)!.matches"></app-user-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>