<mat-card *ngIf="quote$ | async as quote; else noQuote">
  <mat-card-header>
    <mat-icon mat-card-avatar>format_quote</mat-icon>
    <mat-card-title>
      Edit Quote
    </mat-card-title>
    <mat-card-subtitle>
      Adjust the quoted text or fix the recorded context.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content [formGroup]="form">
    <mat-form-field>
      <mat-label>Quote Text</mat-label>
      <textarea matInput formControlName="quoteText"></textarea>
      <mat-error>
        Quote text cannot be empty and must be no longer than 400 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Game / Context</mat-label>
      <input matInput formControlName="quoteContext">
      <mat-error>
        Context cannot be empty and must be no longer than 200 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="no-block">
      <mat-label>Author</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput readonly [value]="quote.createdBy">
    </mat-form-field>
    <mat-form-field class="no-block">
      <mat-label>Created at</mat-label>
      <mat-icon matPrefix>schedule</mat-icon>
      <input matInput readonly [value]="quote.createdAt | amDateFormat:'YYYY-MM-DD HH:mm'">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="flex-row">
    <button mat-button [routerLink]="['../']">
      Cancel
    </button>
    <span class="spacer"></span>
    <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="saveQuote(quote)">
      Save
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #noQuote>
  <h1>Loading quote ...</h1>
</ng-template>
