<h1 mat-dialog-title>
  <mat-icon class="inline">folder_open</mat-icon>
  Select File
</h1>
<div mat-dialog-content>
  <p>
    Select a file:
  </p>
  <p>
    <mat-nav-list *ngIf="files$ | async as files">
      <button *ngFor="let file of files" mat-list-item [mat-dialog-close]="file">
        <mat-icon mat-list-icon [svgIcon]="getIcon(file)"></mat-icon>

        <div mat-line>{{ file.fileName }}</div>
        <div mat-line>{{ file.fileSize | fileSize }}</div>
      </button>
      <button *ngIf="files.length === 0" disabled mat-list-item>
        <mat-icon mat-list-icon>info_outline</mat-icon>
        <div mat-line>No files available</div>
        <div mat-line>Use "Files" to upload some files and then return to select them here</div>
      </button>
    </mat-nav-list>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="null">
    Cancel
  </button>
</div>
