<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>notifications_none</mat-icon>
    <mat-card-title>
      About Sub Alerts <small class="beta-text">&beta;</small>
    </mat-card-title>
    <mat-card-subtitle>
      Wanna thank people subscribing to your channel? This is the way to do.
      With any subscription, FloppyBot will send a customized message, thanking
      the viewer for their contribution.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="beta-text">
      <b>&beta;</b>: This feature is currently in Beta. As such, experience some changes down the line.
      However your input is highly requested to improve this feature.
    </p>
    <p>
      Messages can have the following placeholders:
    </p>
    <ul>
      <li>
        <code>&#123;User&#125;</code>:
        The name of the user subscribing or gifting
      </li>
      <li>
        <code>&#123;Receiver&#125;</code>:
        The name of the user receiving a gift sub (only for gift subs)
      </li>
      <li>
        <code>&#123;Plan&#125;</code>:
        The plan the user subscribed at (Tier1, Tier2 or Tier3)
      </li>
      <li>
        <code>&#123;Months&#125;</code>:
        The number of months this user is already subscribed for
        <i>OR</i>
        the number of months gifted to a user
        (only for re-subs and multi-month gift subs)
      </li>
      <li>
        <code style="text-decoration: line-through;">&#123;More.Xyz&#125;</code>:
        More event information is available under <code>More</code>.
        The available placeholders depend on the event. Note that you should not
        use this unless advised otherwise.
      </li>
    </ul>
    <p>
      An empty message means that this alert will never be triggered.
    </p>
    <p>
      Note that this feature is only available for Twitch channels.
    </p>
  </mat-card-content>
</mat-card>

<mat-accordion *ngIf="config$ | async as configs; else noConfigs">
  <mat-expansion-panel *ngFor="let config of configs; trackBy:trackConfig"
                       [expanded]="expandedChannelId === config.id"
                       (afterExpand)="expandedChannelId = config.id">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-channel-icon [channelId]="config.id"></app-channel-icon>
        <app-channel-name [channelId]="config.id"></app-channel-name>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <mat-form-field>
        <mat-label>Sub Alert Message</mat-label>
        <mat-icon matPrefix>subscriptions</mat-icon>

        <input matInput type="text" [(ngModel)]="config.message">

        <button matSuffix mat-icon-button matTooltip="Clear Message" (click)="clearMessage(config, 'message')">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Re-Sub Alert Message</mat-label>
        <mat-icon matPrefix>loyalty</mat-icon>

        <input matInput type="text" [(ngModel)]="config.reSubMessage">

        <button matSuffix mat-icon-button matTooltip="Clear Message" (click)="clearMessage(config, 'reSubMessage')">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gift Sub Alert Message</mat-label>
        <mat-icon matPrefix>card_giftcard</mat-icon>

        <input matInput type="text" [(ngModel)]="config.giftSubMessage">

        <button matSuffix mat-icon-button matTooltip="Clear Message" (click)="clearMessage(config, 'giftSubMessage')">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Community Sub Alert Message</mat-label>
        <mat-icon matPrefix>forum</mat-icon>

        <input matInput type="text" [(ngModel)]="config.communitySubMessage">

        <button matSuffix mat-icon-button matTooltip="Clear Message" (click)="clearMessage(config, 'communitySubMessage')">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="flex-row">
      <span class="spacer"></span>
      <button mat-button (click)="saveConfig(config)">
        <mat-icon>save</mat-icon>
        Save Changes
      </button>
    </div>
  </mat-expansion-panel>

  <mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
      <button mat-icon-button
              matTooltip="Discard & Refresh All"
              (click)="load()">
        <mat-icon>refresh</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-button (click)="saveAllChanges(configs)">
        <mat-icon>save</mat-icon>
        Save All Changes
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-accordion>

<ng-template #noConfigs>
  <mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
      <button mat-icon-button
              matTooltip="Refresh All"
              (click)="load()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>
