@import 'src/styles/typo';

mat-form-field {
  display: block;
}

.sub-card-container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;

  @media (min-width: 576px) {
    grid-template-columns: auto auto;
  }
  @media (max-width: 576px) {
    grid-template-columns: auto;
  }
}
