<mat-card>
  <ng-container *ngIf="user$ | async as user">
    <mat-card-header>
      <img mat-card-avatar [src]="user.picture" alt="Profile Picture">
      <mat-card-title>Welcome, <b>{{ user.name }}</b>!</mat-card-title>
      <mat-card-subtitle *ngIf="pinsUser$ | async as pinsUser">
        User ID:
        <code>{{ pinsUser.id }}</code>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="sub-card-container">
      <!-- Account Details -->
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>person</mat-icon>
          <mat-card-title>
            Your Account Details
          </mat-card-title>
          <mat-card-subtitle>
            This is the information our Identity Provider
            (<a href="https://auth0.com/" target="_blank">Auth0</a>)
            submits to us to make this app work.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- E-Mail Address -->
          <mat-form-field class="wide">
            <mat-label>E-Mail address</mat-label>
            <mat-icon matPrefix>mail</mat-icon>
            <input matInput readonly [value]="user.email">
            <mat-icon *ngIf="user.email_verified" matSuffix matTooltip="E-Mail address verified">verified</mat-icon>
          </mat-form-field>

          <!-- Update at -->
          <mat-form-field>
            <mat-label>Last updated at</mat-label>
            <mat-icon matPrefix>update</mat-icon>
            <input matInput readonly [value]="user.updated_at | amDateFormat:'yyyy-MM-DD HH:mm:ss'">
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <!-- Permissions -->
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>gpp_good</mat-icon>
          <mat-card-title>
            Your Permissions
          </mat-card-title>
          <mat-card-subtitle>
            The Identity Provider will hand out permissions which allow you to
            interact with features of this app.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul *ngIf="(permissions$ | async) as perms; else noPermissions">
            <li *ngFor="let p of perms"><code>{{ p }}</code></li>
          </ul>
        </mat-card-content>
      </mat-card>

      <!-- Channel Aliases -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Channel Aliases
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-channel-alias-editor></app-channel-alias-editor>
        </ng-template>
      </mat-expansion-panel>
    </mat-card-content>
  </ng-container>
</mat-card>

<ng-template #noPinsUser>
  No Bot User information available.
</ng-template>

<ng-template #noPermissions>
  Checking your permissions ...
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
