<mat-card *ngIf="aliasForm$ | async as aliasForm">
  <mat-card-header>
    <mat-icon matCardAvatar>edit</mat-icon>
    <mat-card-title>Channel Aliases</mat-card-title>
    <mat-card-subtitle>
      Instead of having cryptic IDs, name your channels with a nice name
      so you can recognize them easier.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content [formGroup]="aliasForm">
    <mat-form-field *ngFor="let channelId of getChannelIds(aliasForm)">
      <mat-label>
        {{ channelId | channelAlias:false | async }}
      </mat-label>
      <app-channel-icon matPrefix [channelId]="channelId"></app-channel-icon>
      <input matInput [formControlName]="channelId">
      <button mat-icon-button
              matSuffix
              matTooltip="Clear"
              (click)="clearAlias(aliasForm, channelId)">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-error>
        The alias cannot be longer than 64 characters
      </mat-error>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="flex-row">
    <button mat-flat-button
            (click)="clearForm()">
      Reset
    </button>
    <span class="spacer"></span>
    <button mat-flat-button
            [disabled]="aliasForm.invalid"
            color="primary"
            (click)="saveAliases(aliasForm)">
      Save Changes
    </button>
  </mat-card-actions>
</mat-card>
