<h1 mat-dialog-title>How to read Syntax?</h1>
<div mat-dialog-content class="mat-typography">
  <p>
    To help you read the command syntax, here's a little help:
  </p>
  <p>
    The command character is denoted by <code class="syntax-code">&gt; </code>.
    In most cases, commands are called via <code class="syntax-code">!</code> however
    this might not always be the case.
  </p>
  <p>
    A command parameter looks like this: <code class="syntax-code">&lt;Parameter&gt;</code>.
    Note that in actual use, <code>&lt;</code> and <code>&gt;</code> are <i>not</i> required.
  </p>
  <p>
    If a section of a command is optional, it is surrounded by <code>[</code> and <code>]</code> like this:
    <code class="syntax-code">[Optional]</code>.
    If a parameter is optional, it looks like this:
    <code class="syntax-code">[&lt;Optional Parameter&gt;]</code>
  </p>
  <p>
    Some commands have subcommands. This is usually arranged like this:
    <code class="syntax-code"><b>mycommand</b> subcommand</code>. If subcommands have
    aliases as well, they will be listed, split by <code>|</code>. For example
    <code class="syntax-code"><b>mycommand</b> subcommand|sc</code> means that
    <code><b>mycommand</b> subcommand</code> and <code><b>mycommand</b> sc</code>
    have the same effect.
  </p>
  <p>
    You might also find commands where a parameter repeats like this:
    <code class="syntax-code">&lt;Parameter&gt;[,&lt;Parameter&gt;,...]</code>.
    This means that the parameter will hold multiple values, in this case separated
    by a <code>,</code> (comma). It also means that at least one value is required.
    If no value is required, the parameter list is surrounded by another set to
    <code>[]</code> like this:
    <code class="syntax-code">[&lt;Parameter&gt;[,&lt;Parameter&gt;,...]]</code>
  </p>
  <p>
    Note that to keep te syntax clean, only the primary command name is used.
    Aliases are visible in their separate column.
  </p>
  <p>
    Here is a final example with a full explanation of what it means:
  </p>
  <p>
    <code class="syntax-code">&gt; <b>supercommand</b> add|+ &lt;Name&gt; [&lt;Message&gt;]</code>
  </p>
  <p>
    This example describes a command called <code>supercommand</code>.<br>
    It has a subcommand <code>add</code> (which as an alias <code>+</code>)
    and two parameters: <code>Name</code> and <code>Message</code>.<br>
    The parameter <code>Message</code> is however optional.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null" cdkFocusInitial>Close</button>
</div>
