<mat-form-field [formGroup]="form">
  <mat-label>{{ label }}</mat-label>
  <input matInput readonly formControlName="file">
  <button mat-icon-button matSuffix matTooltip="Select file" (click)="openDialog()">
    <mat-icon>folder_open</mat-icon>
  </button>
</mat-form-field>
