<app-counter-obsolete></app-counter-obsolete>

<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar svgIcon="counter"></mat-icon>
    <mat-card-title>
      About Counter Commands
    </mat-card-title>
    <mat-card-subtitle>
      Count things, like deaths, yawns or hick-ups.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Counter Commands are commands backed by a counter. Viewers can
      use the command to ask for the current value of the query, while
      moderators are able to also update it.
    </p>
  </mat-card-content>
</mat-card>

<mat-accordion *ngIf="channels$ | async as channels">
  <mat-expansion-panel *ngFor="let channel of channels" [expanded]="channelFilter === channel"
    (closed)="onPanelClosed(channel)" (afterExpand)="onPanelOpened(channel)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-channel-icon [channelId]="channel"></app-channel-icon>
        <app-channel-name [channelId]="channel"></app-channel-name>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-list *ngIf="commandDict[channel] | async as commands; else loadingTemplate">
        <mat-list-item *ngFor="let command of commands">
          <mat-icon mat-list-icon svgIcon="counter"></mat-icon>
          <div mat-line class="syntax-code">
            <b>{{ command.name }}</b>
            <button mat-icon-button class="right" matTooltip="Rename Command" (click)="renameCommand(command)">
              <mat-icon>drive_file_rename_outline</mat-icon>
            </button>
          </div>
          <div mat-line>
            {{ command.response }}
          </div>
          <div mat-line>
            Current Value: <code>{{ command.state }}</code>
          </div>

          <button mat-icon-button class="right" [matTooltip]="'Reset Counter ' + command.name"
            (click)="onResetCounter(command)">
            <mat-icon mat-list-icon>restart_alt</mat-icon>
          </button>
          <button mat-icon-button class="right" [matTooltip]="'Edit Counter ' + command.name"
            [routerLink]="getEditLink(command)">
            <mat-icon mat-list-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="right" [matTooltip]="'Delete Counter ' + command.name"
            (click)="deleteCommand(command)">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button (click)="createCommand()">
            <mat-icon>add</mat-icon>
            Add Counter
          </button>
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <button mat-icon-button matTooltip="Refresh All" (click)="loadChannels()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #loadingTemplate>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
