<div class="mat-typography text-block">
  <h1 class="mat-headline">
    Welcome to the <b class="title">FloppyBot</b>&nbsp;<span class="subtitle">Admin Console</span>
  </h1>
  <p>
    Welcome to the <b>FloppyBot Admin Console</b>.
    This tool allows more convenient administration of <b>FloppyBot</b>.
  </p>
  <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
    <p>
      Select one of the operations in the navigation bar to your left to start.
    </p>

    <ng-container *ngIf="inV2Mode">
      <h2 class="mat-headline">What's new?</h2>
      <h3><b class="title">FloppyBot</b> Admin Console V2 Beta</h3>
      <p>
        The new version of the <b class="title">FloppyBot</b> Admin Console has been released in beta.
        You can test it right now by clicking on the <b><a href="https://beta.v2-bot.floppypanda.ch" target="_blank">Try V2 Beta</a></b> button in the navigation bar.
        Not all features are currently available in the new version so you can switch back to the old version at any time.
      </p>
      <p>
        Please note that any bug reports to this old version of the Admin Console will not be followed up anymore.
        Also note that some features may not be compatible between versions (i.e. certain new additions to custom commands that are not available in the old version).
      </p>
      <p>
        Once the new Admin Console has reached feature parity with this one, it will become the new default version.
      </p>
    </ng-container>
  </ng-container>
  <ng-template #notLoggedIn>
    <p>
      Login to continue.
    </p>
  </ng-template>
</div>
