<mat-list *ngIf="files$ | async as fileList">
  <mat-list-item *ngFor="let file of fileList">
    <mat-icon mat-list-icon [svgIcon]="getFileIcon(file)"></mat-icon>

    <div mat-line>{{ file.fileName }}</div>
    <div mat-line>
      <span [matTooltip]="file.fileSize.toLocaleString() + ' Bytes / Type: ' + file.mimeType" matTooltipPosition="after">{{ file.fileSize | fileSize }}</span>
    </div>

    <button mat-icon-button class="right" matTooltip="Download File" (click)="downloadFile(file)">
      <mat-icon mat-list-icon svgIcon="download"></mat-icon>
    </button>
    <button mat-icon-button class="right" matTooltip="Delete File" (click)="delete(file)">
      <mat-icon mat-list-icon svgIcon="delete"></mat-icon>
    </button>
  </mat-list-item>

  <mat-list-item *ngIf="fileList.length === 0">
    <mat-icon mat-list-icon>info_outline</mat-icon>
    <div mat-line>No files uploaded to this channel</div>
    <div mat-line>Uploaded files will appear here</div>
  </mat-list-item>
</mat-list>

<p class="flex-row">
  <button mat-button (click)="upload()">
    <mat-icon>upload</mat-icon>
    Upload
  </button>

  <span class="spacer"></span>

  <button mat-button (click)="reload()">
    <mat-icon>refresh</mat-icon>
    Reload
  </button>
</p>

<div *ngIf="quota$ | async as quota">
  <p class="flex-row">
    <span>
      <span>{{ quota.storageUsed | fileSize }}</span> / <span>{{ quota.maxStorageQuota | fileSize }}</span>
      (<span>{{ quota.storageUsed / quota.maxStorageQuota * 100 | number:'0.0-2' }} %</span>) used
    </span>

    <span class="spacer"></span>

    <span *ngIf="quota.maxFileNumber > 0">
      <b>{{ quota.fileCount }}</b> / {{ quota.maxFileNumber }} file(s) uploaded
    </span>
  </p>
  <mat-progress-bar [value]="quota.storageUsed / quota.maxStorageQuota * 100"
                    [color]="showQuotaWarning(quota) ? 'warn' : 'primary'"
  ></mat-progress-bar>
</div>
