<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef> Instance </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <code>{{element.key}}</code>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="instance.version">
      <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.instance.version}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="instance.memoryUsed">
      <mat-header-cell *matHeaderCellDef> Memory used (MB) </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{(element.instance.memoryUsed / 1024 / 1024) | number:'0.2-2'}}
        MB
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="instance.messageInterfaces">
      <mat-header-cell *matHeaderCellDef> Message Interfaces </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngFor="let interface of element.instance.messageInterfaces"
             class="message-interface"
             [class.disabled-if]="!interface.enabled"
             [matTooltip]="'Buffer: ' + interface.currentBufferSize + '/' + interface.maxBufferSize">
            {{ interface.fullName || interface.name }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="instance.uptime">
      <mat-header-cell *matHeaderCellDef> Uptime </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.instance.uptime}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="instance.recordedAt">
      <mat-header-cell *matHeaderCellDef> Last seen </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.instance.recordedAt | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="functions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button [disabled]="!hasRestartPermission" mat-icon-button matTooltip="Restart Instance" (click)="onRestartInstance(element)">
          <mat-icon>restart_alt</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Template -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button matTooltip="Refresh" (click)="load()">
        <mat-icon>refresh</mat-icon>
      </button>

      <span class="toolbar-spacer"></span>

      <!-- Pager -->
      <mat-paginator [pageSize]="10"
                     showFirstLastButtons>
      </mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
