<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>av_timer</mat-icon>
    <mat-card-title>
      About Timer Messages
    </mat-card-title>
    <mat-card-subtitle>
      Timer Messages are messages that are issued in an interval.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Note that Timer Messages are currently only supported on Twitch.
    </p>
  </mat-card-content>
</mat-card>

<mat-accordion *ngIf="configs$ | async as configs; else noConfigs">
  <mat-expansion-panel *ngFor="let config of configs; trackBy:trackConfig"
                      [expanded]="expandedChannelId === config.id"
                      (afterExpand)="expandedChannelId = config.id">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-channel-icon [channelId]="config.id"></app-channel-icon>
        <app-channel-name [channelId]="config.id"></app-channel-name>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <mat-form-field *ngFor="let message of config.messages; index as i; trackBy:trackMessage">
        <mat-label>Message</mat-label>
        <input matInput [(ngModel)]="message.message">
        <button matSuffix mat-icon-button matTooltip="Delete Message" (click)="deleteMessage(config, i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>

      <div class="flex-row">
        <mat-form-field class="no-block" style="width: 150px;">
          <mat-label>Interval</mat-label>
          <input matInput type="number" min="5" [(ngModel)]="config.interval">
          <span matSuffix>min</span>
        </mat-form-field>
        <mat-form-field class="no-block" style="width: 150px;">
          <mat-label>Min. Messages</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="config.minMessages">
          <span matSuffix>msgs</span>
        </mat-form-field>

        <span class="spacer"></span>

        <button mat-button (click)="addMessage(config)">
          <mat-icon>add</mat-icon>
          Add Message
        </button>
        <button mat-button (click)="saveConfig(config)">
          <mat-icon>save</mat-icon>
          Save Changes
        </button>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
      <button mat-icon-button matTooltip="Refresh All" (click)="load()">
        <mat-icon>refresh</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-button (click)="saveAllChanges(configs)">
        <mat-icon>save</mat-icon>
        Save All Changes
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-accordion>

<ng-template #noConfigs>
  <mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
      <button mat-icon-button
              matTooltip="Refresh All"
              (click)="load()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>
