<mat-card *ngIf="command$ | async as command">
  <mat-card-header>
    <mat-icon mat-card-avatar>toggle_on</mat-icon>
    <mat-card-title>
      Configure Command "{{ command.info.name }}"
    </mat-card-title>
    <mat-card-subtitle>
      Adjust the command to your likings if the defaults are not enough.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content [formGroup]="form">
    <div>
      <mat-slide-toggle formControlName="enabled" (change)="onDisableChanged()">
        Enable Command
        <mat-hint>
          Turning this option off will disable <code>{{ commandName }}</code>
          on this channel. You will not be able to use this command.
        </mat-hint>
      </mat-slide-toggle>
    </div>

    <ng-container formGroupName="config">
      <input type="hidden" formControlName="channelId">
      <input type="hidden" formControlName="commandName">

      <mat-form-field>
        <mat-label>Override Permission Level</mat-label>
        <mat-select formControlName="privilegeLevelOverride">
          <mat-option [value]="null">
            Default: {{ command.info.requiredPrivilegeLevel }}
          </mat-option>
          <mat-option value="Administrator">Administrator</mat-option>
          <mat-option value="Moderator">Moderator</mat-option>
          <mat-option value="Viewer">Viewer</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <mat-slide-toggle formControlName="cooldown" (change)="onCooldownDisableChanged()">
          Custom Cooldown
          <mat-hint>
            Override the Cooldown Settings
          </mat-hint>
        </mat-slide-toggle>
      </div>

      <div formGroupName="cooldownConfig">
        <mat-form-field class="no-block cooldown">
          <mat-label>Default</mat-label>
          <app-permission-icon matPrefix privilegeLevel="Viewer"></app-permission-icon>
          <input matInput type="number" formControlName="cooldown">
          <span matSuffix>ms</span>
        </mat-form-field>
        <mat-form-field class="no-block cooldown">
          <mat-label>Moderator</mat-label>
          <app-permission-icon matPrefix privilegeLevel="Moderator"></app-permission-icon>
          <input matInput type="number" formControlName="modCooldown">
          <span matSuffix>ms</span>
        </mat-form-field>
        <mat-form-field class="no-block cooldown">
          <mat-label>Administrator</mat-label>
          <app-permission-icon matPrefix privilegeLevel="Administrator"></app-permission-icon>
          <input matInput type="number" formControlName="adminCooldown">
          <span matSuffix>ms</span>
        </mat-form-field>
      </div>
    </ng-container>
  </mat-card-content>

  <mat-card-actions class="flex-row">
    <button mat-button [routerLink]="['../']">
      Cancel
    </button>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="saveChanges(command)">
      Save
    </button>
  </mat-card-actions>
</mat-card>
