<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>folder_open</mat-icon>
    <mat-card-title>
      About File Explorer
    </mat-card-title>
    <mat-card-subtitle>
      Upload files to use for other features.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Some features may use custom files (i.e. audio files for Sound Commands).
      Files are assigned to a channel.
    </p>
  </mat-card-content>
</mat-card>

<mat-accordion *ngIf="channels$ | async as channels">
  <mat-expansion-panel *ngFor="let channel of channels"
                       [expanded]="channelFilter === channel"
                       (closed)="onPanelClosed(channel)"
                       (afterExpand)="onPanelOpened(channel)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-channel-icon [channelId]="channel"></app-channel-icon>
        <app-channel-name [channelId]="channel"></app-channel-name>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <app-file-list [channelId]="channel"></app-file-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
